* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body {
    background: #bc958f;
}

.headingText {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: rgb(52, 44, 60);
    margin-top: 30px;
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 10px auto;
}

#title,
#note {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    ;

}

#note {
    padding: 10px 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}

button {
    padding: 7px 12px;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(84, 128, 143);
    color: white;
    font-weight: 600;

}

#addBtn {
    width: 150px;
    margin: 0 auto;
}

button:hover {
    background: lightblue;
    color: black;
}


#title,
#cancelBtn {
    display: none;
}

#output {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

}

.notification {
    text-align: center;
    margin-top: 5em;
    color: brown;
    font-family: italic;
    font-weight: 800;
    font-size: 24px;
}

#error-message {
    color: #ff2200;
    text-align: center;
    font-family: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-container {
    background-image: url(https://t4.ftcdn.net/jpg/10/27/08/31/360_F_1027083125_CctAY0dbkVkVi1D8dYnoGJayzHtMmFR8.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: #7e3d33 0px 60px 40px -7px;
    word-wrap: break-word;
    animation: growAndRotate 1s ;
}

@keyframes growAndRotate{
    0%{width: 100px;
        height: 100px;
        transform: rotate(0deg);
    }
    100%{width: 200px;
        height: 200px;
        transform: rotate(360deg);
    }
}

.titleText {
    display: flex;
    justify-content: space-between;
}

.fa-trash-alt {
    cursor: pointer;
}

@media (max-width: 768px) {

    #output{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #main-container {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        word-wrap: break-word;
    }

    #title,
    #note {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 20px;
        justify-content: center;
        
    }

    form{
        width: 300px;
    }

    .buttons{
        width: 300px;
    }

    .headingText {
        width: 90%;
        text-align: center;
        margin: 0 auto 2em;
        margin-top: 30px;
    }

    }