* {
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin: 3em 0em;
}

body {
    background: rgb(186, 234, 249);
}

.my-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-image: url('https://img.freepik.com/premium-vector/cybersecurity-information-network-protection-future-technology-web-services-business-internet-project_118331-1189.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
}

form div{
    margin-bottom: 10px;
}

label{
    font-size: 20px;
}

input{
    border-radius: 5px;
    padding: 5px;
}

#psw-length{
    width: 50px;
}

button{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(102, 134, 144);
    border: none;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}

button:hover{
    
    color: black;
}

.output{
    display:flex;
    justify-content: center;
    width: 300px;
    margin-top: 10px;
}

.generated-password{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: rgb(232, 229, 229);
    width: 800px;
    height: 30px;
    padding: 5px;
    border-right: transparent;
    border-color: rgb(102, 134, 144);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    white-space: nowrap;
}

.copyBtn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 300px;
    
}

#error-message,
#copy-error{
    color: red;
    margin-top: 10px;
}

